<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Menú</title>
</head>
<body>
	<h1>Menú</h1>

	
	<nav>
		<ul>
			<li><a th:href="@{}" class="text-primary ml-1">Página Principal</a></li>	
			<li><a th:href="@{/login}" class="text-primary ml-1">Login</a></li>
			<li><a th:href="@{/usuarios/lista}" class="text-primary ml-1">Lista de usuarios</a></li>
			<li><a th:href="@{/usuarios/registro}" class="text-primary ml-1">Registro Usuarios</a></li>
			<li><a th:href="@{/productos}" class="text-primary ml-1">Productos</a></li>		
		</ul>
	
	</nav>	
</body>
</html>